<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset Password</h1>
    <input type="password" id="password" placeholder="Enter new password">
    <button onclick="handleSubmit()">Reset Password</button>
    <!-- <p>Token: <%= token %></p> -->
     <script>
        let token = "<%= token %>"
        let passwordTag = document.getElementById('password')
        async function handleSubmit(){
            let obj = {
                password: passwordTag.value
            } 
            console.log(obj)
            let res = await fetch(`http://localhost:8090/users/updatePassword/${token}`,{
                method:'put',
                
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj),
            })
            let data = await res.json()
            console.log(data)
            alert(data.msg)
        }
     </script>
</body>
</html>